.owl-control .owl-stage {
    margin-left: -70px;
}

.owl-control .item {
    width: 318px;
    height: 318px;
    border: solid 1px black;
}

.Good4MeSilder {
    text-align: center;
}

.Good4MeSilder > h2 {
    margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
    .owl-control .owl-stage {
        margin-left: 0;
    }

    .owl-control .item {
        width: 200px;
        height: 200px;
    }
}