.Review {
    background-image: url(../../../img/Reviewbg.png);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 106px;
    justify-content: center;
    align-items: center;
    margin-bottom: 82px;
    padding: 216px 120px !important;
}
.Review__Slider-BgTop {
    background-image: url(../../../img/ReviewTop.png);
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 129px;
}

.Review__Slider-BgBot {
    background-image: url(../../../img/ReviewBot.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 129px;
}

.Review__Slider .owl-theme {
    position: relative;
    width: 620px;
    height: 455px;
}

.Review__Slider .owl-theme .owl-nav {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 50px;
    bottom: 0;
    margin-top: 0;
}

.Review__Slider .owl-theme .owl-nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid var(--color-primary);
}

.Review__Slider .owl-theme .owl-nav [class*='owl-']:hover {
    background: var(--color-primary);
}

.Review__Slider .owl-theme .owl-nav button span {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 35px;
}

.Review__Slider-Item {
    width: 620px;
}

.Review__Slider-Item-Title {
    font-family: var(--font-default);
    font-size: clamp(16px, 4vw, 20px);
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 4px;
    margin-bottom: 46px;
}

.Review__Slider-Item-SubTitle {
    font-family: var(--font-default);
    font-size: clamp(24px, 4vw, 30px);
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 4px;
    color: var(--color-primary);
}

.Review__Slider-Item-Rating {
    margin: 24px 0;
}

.Review__Slider-Item-Review {
    font-family: var(--font-default);
    font-size: clamp(18px, 4vw, 26px);
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 1px;
    color: var(--color-text);
}

.Review__Slider-Item-Name {
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    color: var(--color-primary);
    margin: 23px 0 32px 0;
}

.Review__Img {
    width: 534px;
    height: 539px;
}

@media only screen and (max-width: 768px) {
    .Review__Slider .owl-theme {
        position: relative;
        width: 300px;
        height: fit-content;
    }

    .Review__Slider .owl-theme .owl-nav {
        position: absolute;
        bottom: -50px;
    }

    .Review__Slider-Item {
        width: clamp(300px, 40vw, 600px);
    }

    .Review__Img {
        width: clamp(300px, 50vw, 534px);
        height: auto;
    }
}