.OurProduct {
    text-align: center;
    margin-bottom: 85px;
}

.Loading {
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.LoadMore {
    display: inline-block;
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    padding: 15px 45px;
    border: 2px solid var(--color-primary);
    cursor: pointer;
}