@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');

:root {
    --color-primary: #F6623E;
    --color-default: #ffffff;
    --color-alt: #000000;
    --color-text: #454545;
    --color-icon: #9D9D9D;
    --font-default: 'Jost', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main {
    max-width: 1920px;
    margin: 0 auto;
}

h2 {
    font-family: var(--font-default);
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    color: var(--color-alt);
}

a:hover {
    text-decoration: underline;
}