:root {
    --color-primary: #F6623E;
    --color-default: #ffffff;
    --color-alt: #000000;
    --color-text: #454545;
    --font-default: 'Jost', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}