.Control {
    background-image: url(../../../img/controlbg.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 136px;
}

.Control__Content {
    width: 515px;
    height: 400px;
    margin: 139px 20px;
}

.Cotrol__Content-Title {
    font-family: var(--font-default);
    font-size: 50px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 3px;
}

.Cotrol__Content-Text {
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: var(--color-text);
    margin: 17px 0 34px 0;
}

.Cotrol__Content-Btn {
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    padding: 18px 45px 13px 45px;
    background: transparent;
    border: 2px solid var(--color-primary);
    transition: all ease-in-out .2s;
    cursor: pointer;
}

.Cotrol__Content-Btn:hover {
    color: var(--color-default);
    background: var(--color-primary);
}

.Control__Img {
    display: grid;
    gap: 30px;
    grid-template-columns: 432px 490px;
    grid-template-rows: 329px 319px;
}

.Control__Img-1 {
    width: 100%;
    height: 100%;
}

.Control__Img-2 {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
}

.Control__Img-3 {
    width: 100%;
    height: 678px;
    grid-column-start: 2;
    grid-row-start: 1;
}

@media only screen and (max-width: 1800px) {
    .Control {
        justify-content: center;
    }
}

@media only screen and (max-width: 1024px) {
    .Control__Img {
        grid-template-columns: 332px 390px;
        grid-template-rows: 229px 219px;
    }

    .Control__Img-3 {
        height: 478px;
    }
}

@media only screen and (max-width: 768px) {
    .Control__Content {
        width: 100%;
        height: fit-content;
        margin: 20px;
    }

    .Cotrol__Content-Title {
        font-size: 26px;
    }

    .Control__Img {
        grid-template-columns: clamp(280px, 40vw, 400px);
        grid-template-rows: none;
    }
    
    .Control__Img-1 {
        width: 100%;
        height: 100%;
    }
    
    .Control__Img-2 {
        width: 100%;
        height: 100%;
        grid-column-start: 1;
    }
    
    .Control__Img-3 {
        width: 100%;
        height: 400px;
        grid-column-start: 1;
        grid-row-start: 3;
    }
}