.SignIn {
    width: clamp(280px, 50vw, 800px);
    margin: 0 auto;
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

fieldset {
    padding: 30px;
}

.Input_Container {
    display: grid;
    grid-template-columns: repeat(auto-fill, clamp(280px, 40vw, 400px));
    gap: 20px;
}

.SignIn input {
    width: clamp(280px, 40vw, 400px);
    height: 30px;
}

.SignIn_Submit button {
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
}