.User {
    font-family: var(--font-default);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

.SignIn form, .Regis form {
    width: clamp(300px, 50vw, 400px);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    height: 400px;
    display: grid;
    place-items: center;
    padding: 0 10px;
    border-radius: 15px;
}

.SignIn form {
    background-image: linear-gradient(45deg, rgba(255,182,193, .7), rgba(246, 98, 62, .7));
}

.Regis form {
    background-image: linear-gradient(45deg, rgba(246, 98, 62, .7), rgba(255,182,193, .7));
}

.Input_Container {
    display: grid;
    grid-template-columns: repeat(auto-fill, clamp(220px, 40vw, 300px));
    gap: 10px;
}

.Input_Container input {
    width: clamp(220px, 40vw, 300px);
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-default);
    background-color: transparent;
    transition: all ease-in-out .3s;
}


.Input_Container input::placeholder {
    color: var(--color-text);
}

.User_Submit button {
    font-family: var(--font-default);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
    padding: 5px 10px;
    color: var(--color-default);
    background: rgba(246, 98, 62, .7);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.User_Submit button:hover {
    background: var(--color-primary);
}

.Sign-Regis:hover {
    cursor: pointer;
    text-decoration: underline;
}