.NewsItem_Container {
    text-align: center;
    width: clamp(280px, 50vw ,400px);
    font-family: var(--font-default);
}

.NewsItem_Container img {
    width: 100%;
    height: auto;
}
.News_Date {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: var(--color-primary);
}

.News_Title {
    font-size: 22px;
    font-weight: 500;
    line-height: 44px;
}

.News_Content {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.News_Btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    margin-top: 30px;
    padding: 12px 25px;
    border: 1px solid var(--color-primary);
    color: var(--color-default);
    background: var(--color-primary);
    transition: all ease-in-out .2s;
}

.News_Btn:hover {
    color: var(--color-primary) !important;
    background: var(--color-default);
}

.News_Btn:visited {
    color: var(--color-default);
}