header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 30px 100px;
    transition: all ease-in-out .5s;
    background: var(--color-default);
}

.MobileMenu {
    display: none;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.MobileMenu:hover {
    background: rgba(0, 0, 0, .3);
}

.MenuIcon1, .MenuIcon2 {
    width: 50px;
}

.MenuIcon3 {
    width: 40px;
}

.MobileMenu__NavBar {
    position: absolute;
    top: 87px;
    left: 0;
    background: rgba(0, 0, 0, .9);
    width: 100%;
}

.MobileMenu__NavBar > a:visited {
    color: var(--color-default);
}

.MobileMenu__Item {
    padding: 10px;
    transition: all ease-in-out .5s;
}

.MobileMenu__Item:hover {
    background: rgba(255, 255, 255, .3);
}

.NavBar__Logo {
    font-size: clamp(30px, 1vw, 36px);
    font-weight: 500;
    line-height: 24px;
    color: var(--color-alt);
}

.NavBar__Logo > span {
    font-size: clamp(20px, 1vw, 26px);
}

.NavBar__List {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-family: var(--font-default);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.NavBar__List > a:visited {
    color: var(--color-alt);
}

.SearchCart {
    display: flex;
    gap: 10px;
}

.Icon {
    width: 20px;
    height: 20px;
    transition: all ease-in-out .3s;
}

.Icon:hover {
    transform: translateY(-5px);
}

.NavBar__UserIcon {
    display: none;
}

@media only screen and (max-width: 1024px) {

    .NavBar {
        padding: 30px 20px;
    }

    .MobileMenu {
        display: flex;
    }

    .MenuIcon1, .MenuIcon2 {
        width: 30px;
    }
    
    .MenuIcon3 {
        width: 20px;
    }

    .NavBar__List {
        display: none;
    }

    .Icon {
        width: 15px;
        height: 15px;
    }

    .NavBar__UserIcon {
        display: block;
    }
}