.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.MobileMenu {
    display: none;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.MobileMenu:hover {
    background: rgba(0, 0, 0, .1);
}

.MenuIcon1, .MenuIcon2 {
    width: 50px;
}

.MenuIcon3 {
    width: 40px;
}

.MobileMenu__NavBar {
    position: absolute;
    top: 70px;
    left: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    z-index: 50;
}

.MobileMenu__NavBar > a:visited {
    color: var(--color-default);
}

.MobileMenu__Item {
    padding: 10px;
}

.MobileMenu__Item:hover {
    background: rgba(0, 0, 0, .7);
}

.NavBar__Logo {
    width: 200px;
    height: 50px;
}

.NavBar__List {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.NavBar__List > a:visited {
    color: var(--color-alt);
}

.SearchCart {
    display: flex;
    gap: 10px;
}

.Icon {
    width: 20px;
    height: 20px;
}

.NavBar__UserIcon {
    display: none;
}

@media only screen and (max-width: 1200px) {

    .NavBar {
        padding: 10px 30px;
    }

    .MobileMenu {
        display: flex;
    }

    .MenuIcon1, .MenuIcon2 {
        width: 30px;
    }
    
    .MenuIcon3 {
        width: 20px;
    }

    .NavBar__Logo {
        width: 150px;
        height: 50px;
    }

    .NavBar__List {
        display: none;
    }

    .Icon {
        width: 15px;
        height: 15px;
    }

    .NavBar__UserIcon {
        display: block;
    }
}