.Good4MeDealBot {
    display: flex;
    justify-content: center;
    gap: 171px;
    margin: 140px 0;
    margin-inline: 363px;
    font-family: var(--font-default);
}

.Good4MeDealBot_Item {
    width: 280px;
}

.Img_Container {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 25px auto;
}

.Img_Container img {
    width: 60px;
    height: 60px;
    opacity: .9;
}

.Img_Container span {
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: var(--color-primary);
}

.Good4MeDealBot_Item-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.Good4MeDealBot_Item-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}



@media only screen and (max-width: 1920px) {
    .Good4MeDealBot {
        margin-inline: 120px;
    }
}

@media only screen and (max-width: 1024px) {
    .Good4MeDealBot {
        flex-wrap: wrap;
        gap: 100px;
        margin-inline: 20px;
    }
}