.HeroBanner__Container {
    position: relative;
    height: 600px;
}

.Banner {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all ease-in-out 1s;
}

.Banner1 {
    animation: scale-in-center ease-in-out 1s both;
}

@keyframes scale-in-center {
    0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    }
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    }
}

.Banner2 {
    position: absolute;
    background-position-x: right;
    top: 0;
    opacity: 0;
}

@media only screen and (max-width: 900px) {
    .HeroBanner__Container {
        height: 400px;
    }

    .Banner1 {
        display: none;
    }

    .Banner2 {
        animation: scale-in-center ease-in-out 1s forwards;
    }
    
    @keyframes scale-in-center {
        0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0;
        }
        100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
        }
    }
}