.BannerContainer {
    position: relative;
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
}

.BannerContainer_1 {
    background-size: cover;
    background-position-x: 20%;
}

.BannerContainer_2 {
    background-size: contain;
    background-position-x: 80%;
}

.SliderBanner_1 {
    position: absolute;
    top: 150px;
    right: 390px;
}

.Silder1Bot {
    position: absolute;
    bottom: -10px;
    width: 100%;
}

.SliderBanner_2 {
    position: absolute;
    top: 150px;
    left: 270px;
}