.BannerContainer {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 640px;
    background-repeat: no-repeat;
}

.BannerContainer_1 {
    background-size: cover;
    background-position-x: 20%;
}

.BannerContainer_2 {
    background-size: contain;
    background-position-x: 80%;
}

.SliderBanner_1 {
    position: absolute;
    top: 150px;
    right: 390px;
}

.Silder1Bot {
    position: absolute;
    bottom: -10px;
    width: 100%;
}

.SliderBanner_2 {
    position: absolute;
    top: 150px;
    left: 270px;
}

@media only screen and (max-width: 1920px) {
    .SliderBanner_1 {
        top: 120px;
        right: 150px;
    }

    .SliderBanner_2 {
        position: absolute;
        top: 150px;
        left: 100px;
    }
}

@media only screen and (max-width: 1024px) {
    .BannerContainer {
        height: 450px;
    }

    .SliderBanner_1 {
        top: 50px;
        right: 70px;
    }

    .SliderBanner_2 {
        position: absolute;
        top: 50px;
        left: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .BannerContainer_2 {
        background-size: contain;
        background-position: center;
    }

    .SliderBanner_1, .SliderBanner_2 {
        position: static;
        padding: 20px;
        background: rgba(0, 0, 0, .7);
    }
}