.HeroBanner {
    display: flex;
}

.HeroBanner__Slide {
    position: relative;
    margin: 0 auto;
}

.HeroBanner__Img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .HeroBanner__Img {
        max-height: 130px;
    }
}