.FooterTop {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: 60px 120px 0 120px;
}

.FooterTop_Item1, .FooterTop_Item2 {
    text-align: center;
}

.FooterTop_Item1-content {
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: clamp(280px, 50vw, 325px);
}

.FooterTop_Item2-title {
    font-family: var(--font-default);
    font-size: 26px;
    font-weight: 500;
    line-height: 26px;
}

.FooterTop_Item2-content {
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 11px 0 19px 0;
    margin: 0 auto;
    width: clamp(280px, 50vw, 350px);
}

.FooterTop_Item2-form {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    border-bottom: 2px solid var(--color-alt);
    padding: 13px 0;
    width: clamp(280px, 50vw, 570px);
}

.FooterTop_Item2-input, .FooterTop_Item2-input::placeholder  {
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    border: none;
    background: none;
    color: var(--color-alt);
    width: 100%;
    outline: none;
}

.FooterTop_Item2-btn {
    text-align: right;
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    border: none;
    background: none;
    color: var(--color-primary);
    cursor: pointer;
}

.FooterTop_Item3 {
    min-width: 300px;
}

.FooterTop_Item3-title {
    font-family: var(--font-default);
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: var(--color-alt);
}

.FooterTop_Item3-InfoList {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    color: var(--color-text);
}

.FooterTop_Item3-InfoList a:visited {
    color: var(--color-text);
}

@media only screen and (max-width: 1440px) {
    .FooterTop {
        justify-content: center;
    }

    .FooterTop_Item3-title {
        text-align: center;
    }

    .FooterTop_Item3-InfoList {
        display: grid;
        grid-template-columns: repeat(auto-fit, 140px);
        gap: 20px;
        margin: 0 auto;
    }
}