.FooterBot {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    text-align: center;
}

.FooterIcons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.FooterIcons > a {
    transition: transform ease-in-out .3s;
}

.FooterIcons > a:hover {
    transform: translateY(-3px);
}

.SocialIcons > a {
    width: 20px;
    height: 20px;
}

.SocialIcons img {
    width: 17px;
    height: 15px;
}

.CopyRight {
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.CopyRight span {
    color: var(--color-primary);
}

.PaymentIcons img {
    width: 30px;
    height: 20px;
}

@media only screen and (max-width: 768px) {
    .FooterBot {
        justify-content: space-evenly;
    }
}