.ProductContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    gap: 30px;
}

.Product__Img-Container {
    position: relative;
    height: 400px;
}

.Product__Img-Container abbr {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ProductItem img {
    width: 100%;
    height: 100%;
}

.Product__Sale {
    position: absolute;
    top: 11px;
    right: 11px;
    font-family: var(--font-default);
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 1px;
    padding: 5px 9px;
    color: var(--color-default);
    background: var(--color-primary);
}

.Product__Name {
    font-family: var(--font-default);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 25px;
}

.SalePrices {
    font-family: var(--font-default);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-primary);margin-right: 20px;
}

.Prices {
    font-family: Jost;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-text);
    text-decoration: line-through;
}

@media only screen and (max-width: 1440px) {
    .ProductContainer {

        grid-template-columns: repeat(auto-fill, 280px);
    }
    
    .Product__Img-Container {
        position: relative;
        height: 280px;
    }
}